a {
  font-size: 12px;
}

.link-custom-session {
  font-size: 10px;
}

.custom-session {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 992px) {
  .custom-session {
    position: relative;
    padding-top: 2rem;
  }
}
