@import "../../variables/colors";
@import "../../variables/mixins-text";

.containerItemDetail {
  background-color: $color-light-grey;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 992px) {
  .containerItemDetail {
    padding: 0;
    width: 100%;
  }
}

.titleNoProductFound {
  @include text-Roboto-Medium(1.5rem, none);
  color: $color-secondary;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
