@import "../../variables/colors";
@import "../../variables/mixins-text";

.containerListItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 4rem;
}

.titleNoProducts {
  @include text-Roboto-Medium(1.5rem, none);
  color: $color-secondary;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
